/* Global Scope Variables */
:root { 
	/* Colors */
  --vdgrey: #1a1a1a; /* very dark grey */
  --white: #eeeeee; /* white */
	--dkgrey: #36393e; /* dark grey */
	--edgrey: #232323; /* extra dark grey */
	--ltgrey: #55555c; /* light grey */
	--hpink: #ee0049; /* hot pink */
}


/* Load Fonts */
@font-face { /* ARXGlyph */
    font-family: 'ARXGlyph';
    src: url('res/fonts/ARXGlyph.woff') format('woff'),
				url('res/fonts/ARXGlyph.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face { /* XYBERR */
		/* credits to https://www.behance.net/bertalan_gombos for XYBER-Regular font */
    font-family: 'XYBERR';
    src: url('res/fonts/XYBERR.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face { /* Montserrat */
		/* credits to Google Fonts for Montserrat font */
    font-family: 'Montserrat';
    src: url('res/fonts/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face { /* Digitrix */
		/* credits to https://github.com/SUSE/suse-font for SUSE font */
    font-family: 'SUSE';
    src: url('res/fonts/SUSEB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@keyframes glow {
  0%, 90% {filter: invert(14%) sepia(78%) saturate(4732%) hue-rotate(330deg) brightness(102%) contrast(121%);}
  95%,100% {filter: invert(14%) sepia(78%) saturate(4732%) hue-rotate(300deg) brightness(1202%) contrast(121%);}
}
@keyframes float {
  0% {transform: translateY(0px);}
  100% {transform: translateY(30px);}
}
@keyframes blur {
  0% {backdrop-filter: blur(3px) saturate(1);}
  100% {backdrop-filter: blur(10px) saturate(1.1);}
}



/* Set Default Fonts */
h1, h2, h3, h4, h5 { /* Headers */
  font-family: 'XYBERR', sans-serif;
}
h6 {
	font-family: 'SUSE';
	font-size: 32px;
}
p {
	white-space: pre-line;
}

/* Styles */
* { /* Browser Defaults */
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body { /* Body */
	font-family: 'Montserrat'; 
	line-height: 1.8;/* Increases line height for better readability */
	background: var(--edgrey); /* extradark grey */
	position: relative;
	gap: 8px;
	font-size: 16px;
	min-height:calc(100vh - 40px);
}
header { /* Sticky Header */
	font-family:'ARXGlyph', 'Montserrat'; 
	font-size: 38px;
	background: var(--vdgrey); /* header bg */
	color: var(--white); /* text colour */
	padding: 8px 16px; /* header padding y,x */
	text-align: left; /* Center-align text */
	position: sticky; /* Normal flow positioning */
	width: 100%; /* Full width */
	top: 0;
	z-index: 900;
}
footer { /* Footer */
	font-family:'ARXGlyph'; 
	text-align: center; /* Center-align footer text */
	padding: 6px; /* Padding around the footer */
	background: var(--vdgrey); /* footer bg */
	color: var(--white); /* text colour */
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}


.spacer {
  height: var(--dist,200px); /* Adjust height as needed for the gap */
}

.projspacer {
  height: 160px; /* Adjust height as needed for the gap */
}

/* Content Organization */
.grid { /* Body Blocks */
  display: grid;
	grid-template-columns: var(--grid-columns, 2fr 1fr); /* Default fallback if not set */
  grid-template-rows: var(--grid-rows, auto);
  gap: 8px; /* Space between blocks */
  width: 100%;
  height: 90vh; /* Full viewport height */
  padding: 20px 20px;
}
.grid-left { /* Large Block */
  height: 96%; /* Ensures it fills the grid row */
	min-height: 224px;
	background: var(--dkgrey); /* block background color */
	border-radius: 8px; /* rounded corners */
	color: var(--white); /* text color */
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.11); /* outline shadow */
}
.grid-right { /* Small Grid */
	margin:  40px 12px; /* center main */
  display: grid;
  grid-template-rows: var(--grid-rows, auto);
  gap: 16px; /* Space between top and bottom blocks */
  height: 90%; /* Ensures it fills the grid row */
}

.minicontainer {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.2); /* outline shadow */
}

.top-block { /*  */
  background: var(--setcolor,--dkgrey);
  color: var(--white);
	border-radius: 6px; /* rounded corners */
	text-align: center;
}
.bottom-block { /*  */
  background: var(--dkgrey);
  color: var(--white);
	border-radius: 6px; /* rounded corners */
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.2); /* outline shadow */
	text-align: center;
  grid-template-rows: auto auto; /* Two equal-height rows */
  gap: 8px; /* Space between blocks */
}

.utility-block {
	display: flex;
	flex-direction: column;
}

.caption-block { /* different color headers */
	border-top-left-radius: 6px;  /* topleft corner */
	border-top-right-radius: 6px;  /* topright corner */
	background: var(--vdgrey);
	padding: 4px 8px;
	text-align: center;
}

.content-block { /* section for content */
	background: var(--dkgrey);
	border-bottom-left-radius: 6px;  /* botleft corner */
	border-bottom-right-radius: 6px;  /* botright corner */
	padding: 12px 12px;
}

.contact-block {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 32px;
	padding: 8px;
}

.contact-image {
	height: 24%;
	width: 24%;
	transition: filter 0.2s linear;
}

.contact-link {
	height: 24%;
	width: 24%;
}

.contact-link img {
	height: 100%;
	width: 100%;
	transition: filter 0.2s linear;
}

.contact-image:hover {
	filter: invert(0.4);
}

.contact-link:hover img{
	filter: invert(0.4);
}

.embed-block {
	background: var(--dkgrey);
	border-radius: 6px;
	padding: 12px 12px;
	height: 100%;
	width: 100%;
}

.masker {
	background-repeat: no-repeat;
  background-image: url("res/images/UARX.png");
	animation-play-state: playing;
	animation-iteration-count: infinite;
	animation-name: glow, float;
  animation-duration: 6s, 3s;
	transition: filter 6s ease-in-out, transform 3s ease-in-out; 
	animation-direction: alternate;
	width: 90%;
}

.pfpimg {
	transition: backdrop-filter 4s linear; 
  animation-play-sate: playing;
	animation-iteration-count: infinite;
	animation-name: blur;
	animation-duration: 4s;
	animation-direction: alternate;
}

.text-block {
	text-align: left;
	background: var(--dkgrey);
	border-bottom-left-radius: 6px;  /* botleft corner */
	border-bottom-right-radius: 6px;  /* botright corner */
	padding: 12px 12px;
	max-height: 400px;
	overflow: scroll;
	overflow-x: hidden;
}

.relgrid { /* Body Blocks */
  display: grid;
	grid-template-columns: 1fr 1fr 1fr; /* Default fallback if not set */
  grid-template-rows: auto;
  gap: 16px; /* Space between blocks */
}

.stack-block { /* section for content */
	background: var(--dkgrey);
	border-bottom-left-radius: 6px;  /* botleft corner */
	border-bottom-right-radius: 6px;  /* botright corner */
	padding: 12px 12px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	height: 93%;
}

.stack {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 12px 12px;
}

.stack-block-date {
	background: var(--vdgrey);
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	width: 25%;
	height: 80px;
	padding: 12px 12px;
	text-align: center;
}

.stack-link {
	display: flex;
	width: 100%;
	text-decoration: none;
	color: var(--white);
	transition: filter 0.2s ease-in-out, color 0.2s ease-in-out; 
}

.stack-link:hover {
	filter: brightness(1.4);
	color: var(--hpink);
}

.stack-block-text {
	
	background: var(--ltgrey);
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	width: 75%;
	height: 80px;
	padding: 13px 20px;
	text-align: left;
}

/* Styling for hex panel */
.hex-panel {
    position: fixed;
    right: 0px;
		top: 38px;
		width: 720px;
    height: 90px;
    background-image: url('res/images/hexPanel.png');
    padding: 9px 40px; /* pad y,x */
    display: flex;
    flex-direction: row;
    gap: 12px;
    z-index: 1000;  /* force panel upfront */
}

/* Icon styles */
.hex-panel a img {
    padding: 0px;
    transition: filter 0.25s ease, transform 0.45s ease-in-out;
		filter: invert(100%);
}


.hex-link {
  text-decoration: none; /* Remove underline on the link */
  display: inline-block; /* Make the link behave like a block */
}

.hex-container {
  position: relative; /* Set up the container as relative positioning context */
  width: 72px; /* Set the desired width for the container */
  height: 72px; /* Set the desired height for the container */
}

.core-image, .shell-image {
  position: absolute; /* Make the images stack on top of each other */
  top: 0;
  left: 0;
  width: 100%; /* Ensures the images are the same size */
  height: 100%; /* Ensures the images are the same size */
}

.hex-link:hover .core-image {
	filter: invert(13%) sepia(74%) saturate(7013%) hue-rotate(-23deg) brightness(100%) contrast(105%);
}

.hex-link:hover .shell-image {
  transform: scale(1.05) rotate(90deg); /* Enlarge the effect image on hover */
  filter: invert(13%) sepia(74%) saturate(7013%) hue-rotate(-23deg) brightness(100%) contrast(105%);
}

.hex-text {
	font-family:'ARXGlyph';
	font-size: 36px;
  position: absolute;
  top: 10px; /* y offset */
  left: 345px; /* x offset */
  white-space: nowrap; /* Prevent text wrapping */
  visibility: hidden; /* Hidden initially */
  color: var(--white); /* font colour */
}

.proj-link:hover .proj-image{
	transform: scale(1.10);
}

.proj-panel a img {
    transition: transform 0.25s ease-in-out;
}

.proj-panel {
		width: 100%;
		height: 90%;
    display: flex;
    flex-direction: row;
    gap: 16px;
		flex: 1 1 auto;
		flex-wrap: wrap;
		justify-content: center;
}

.proj-container {
	position: relative; /* Set up the container as relative positioning context */
	min-width: 132px;
	min-height: 132px;
	max-width: 132px;
  max-height: 132px;
}

.proj-image {
  width: 100%; /* Ensures the images are the same size */
  height: 100%; /* Ensures the images are the same size */
}


@media (max-width: 1560px) { /* SMALL LAPTOP */
	
	header {
    font-size: 32px; /* Reduce header font size */
    padding: 10px; /* Adjust padding */
  }
	
	body {
		font-size: 16px;
	}
	
  .hex-panel {
		transform: scale(0.80);
		top: 32px;
		right: -60px;
    padding: 8px 40px; /* pad y,x */
  }
}

@media (max-width: 1300px) { /* MOBILE TABLET */
	
	header {
    font-size: 26px; /* Reduce header font size */
    padding: 10px; /* Adjust padding */
  }
	
	body {
		font-size: 12px;
	}
	
  .hex-panel {
		transform: scale(0.6);
		right: -150px;
		top: 49px;
    padding: 8px 40px; /* pad y,x */
  }
	
	.spacer {
		height: 290px;
	}
}

@media (max-width: 900px) { /* MOBILE TABLET */
	
	header {
    font-size: 22px; /* Reduce header font size */
    padding: 10px; /* Adjust padding */
  }
	
	body {
		font-size: 12px;
	}
	
  .hex-panel {
		transform: scale(0.6);
		right: -155px;
		top: 42px;
    padding: 8px 40px; /* pad y,x */
  }
	
	/* Content Organization */
	.grid { /* Body Blocks */
		display: grid;
		grid-template-columns: 1fr; /* Left block twice as wide as right block */
		grid-template-rows: auto; /* Adjust height automatically */
		height: 100vh; /* Full viewport height */
		padding: 6px 6px;
		gap: 8px;
		
		box-sizing: border-box;
	}
	.grid-left { /* Large Block */
	margin:  40px 12px; /* center main */
		height: 96%; /* Ensures it fills the grid row */
	}
	
	.spacer {
		height: 360px;
	}
}

@media (max-width: 525px) { /* SMALL MOBILE */
  
  header {
    font-size: 15px; /* Further reduce font size */
    padding: 8px;
  }
	
	body {
		font-size: 12px;
	}
  
  .hex-panel {
		transform: scale(0.42);
		right: -210px;
		top: 17px;
    padding: 8px 40px; /* pad y,x */
  }
	
	.spacer {
		height: 560px; /* Adjust height as needed for the gap */
	}
}