:root { /* Global Scope Variables */
	/* Color Binds */
  --vdgrey: #1a1a1a;
  --white: #ffffff;
	--dkgrey: #36393e;
}



/* Set Browser Style */
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* Set min height for html and body */


/* Body styles */
body {
	font-family: sans-serif; 
	line-height: 1.6;/* Increases line height for better readability */
	background-color: #232323; /* Light gray background */
	position: relative;
}


/* Main Block Style */
main {
	flex: 1; /* Allow main content to grow and fill available space */
	max-width: 600px; /* max width */
	margin: 16px auto; /* center main */
	padding: 16px; /* block inner padding */
	background: var(--dkgrey); /* block background color */
	border-radius: 5px; /* rounded corners */
	color: var(--white); /* text color */
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1); /* outline shadow */
}



/* Responsive styles */
@media (max-width: 600px) {
}

@font-face {
    font-family: 'ARXGlyph';
    src: url('res/fonts/ARXGlyph.woff') format('woff'),
				url('res/fonts/ARXGlyph.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Header */
header {
	font-family:'ARXGlyph', sans-serif; 
	font-size: 32px;
	background: var(--vdgrey); /* header bg */
	color: var(--white); /* text colour */
	padding: 8px 16px; /* header padding y,x */
	text-align: left; /* Center-align text */
	position: sticky; /* Normal flow positioning */
	width: 100%; /* Full width */
	top: 0;
}


/* Footer */
footer {
	text-align: center; /* Center-align footer text */
	padding: 6px; /* Padding around the footer */
	background: var(--vdgrey); /* footer bg */
	color: var(--white); /* text colour */
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}


/* Styling for hex panel */
.hex-panel {
    position: fixed;
    right: 0px;
		top: 22px;
		width: 720px;
    height: 90px;
    background-image: url('res/images/headerPanel.png');
    padding: 9px 40px; /* pad y,x */
    display: flex;
    flex-direction: row;
    gap: 12px;
    z-index: 1000;  /* force panel upfront */
}

/* Icon styles */
.hex-panel a img {
    padding: 0px;
    transition: 
			filter 0.25s ease, transform 0.45s ease-in-out;
		filter: invert(100%);
}


.hex-link {
  text-decoration: none; /* Remove underline on the link */
  display: inline-block; /* Make the link behave like a block */
}

.hex-container {
  position: relative; /* Set up the container as relative positioning context */
  width: 72px; /* Set the desired width for the container */
  height: 72px; /* Set the desired height for the container */
}

.core-image, .shell-image {
  position: absolute; /* Make the images stack on top of each other */
  top: 0;
  left: 0;
  width: 100%; /* Ensures the images are the same size */
  height: 100%; /* Ensures the images are the same size */
}

.hex-link:hover .core-image {
	filter: invert(13%) sepia(74%) saturate(7013%) hue-rotate(-23deg) brightness(100%) contrast(105%);
}

.hex-link:hover .shell-image {
  transform: scale(1.05) rotate(90deg); /* Enlarge the effect image on hover */
  filter: invert(13%) sepia(74%) saturate(7013%) hue-rotate(-23deg) brightness(100%) contrast(105%);
}

.hex-text {
	font-family:'ARXGlyph';
	font-size: 36px;
  position: absolute;
  top: 10px; /* y offset */
  left: 345px; /* x offset */
  white-space: nowrap; /* Prevent text wrapping */
  visibility: hidden; /* Hidden initially */
  color: var(--white); /* font colour */
}